.relative {
  position: relative;
}

.no-playlist {
  color: #c5e0e4;
}
.video-count {
  position: absolute;
  width: 6rem;
  height: 13rem;
  top: 10px;
  right: 10px;
  background-color: rgba(52, 58, 64, 0.8);
  text-align: center;
  color: #c5e0e4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count {
  font-size: 1.2rem;
  font-weight: bold;
}
